{% load static %}
{% include 'films/header.html' %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<div class="text-center">
    <span class="badge text-bg-warning"><h1>Детальная информация об фильмк - {{film_id.title}}</h1></span>
</div>

<div class="btn-style">
    <button  class="btn btn-primary"><a href="/film_detail/{{ object.id }}/delete/">Удалить</a></button>
    <button  class="btn btn-danger"><a href="/film_detail/{{ object.id }}/update/">Изменить</a></button>

</div>

<div class="block-box">

    <div class="card" style="width: 18rem;">
      <img src="{{object.image.url}}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{object.title}}</h5>
        <p class="card-text">{{object.description}}</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Жанр - {{object.genre}}</li>
        <li class="list-group-item">Режисер - {{object.director}}</li>
        <li class="list-group-item">Цена билета - {{object.cost}}</li>
        <li class="list-group-item">Дата выхода - {{object.year}}</li>
        <li class="list-group-item">Дата создания поста - {{object.year}}</li>

    <iframe src="{{object.trailer}}" frameborder="0"></iframe>
      </ul>
    </div>
</div>
<div class="table-center">
    <table border="4" bgcolor="#e6e6fa">
        <tr>
            <th>Коммент &nbsp;</th> <th>Оценка&nbsp;</th> <th>Дата создания&nbsp;</th>
        </tr>
        {% for i in object.comment_object.all %}
        <tr>
            <th>{{i.text_comment}} &nbsp;</th> <th>{{i.rate_stars}}&nbsp;</th> <th>{{i.created_at}}&nbsp;</th>
        </tr>
        {% endfor %}
    </table>
</div>
{% include 'films/footer.html' %}